@font-face {
    font-family: 'lato';
    src: url('../fonts/lato-bold-webfont.woff2') format('woff2'),
         url('../fonts/lato-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'lato';
    src: url('../fonts/lato-light-webfont.woff2') format('woff2'),
         url('../fonts/lato-light-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'lato';
    src: url('../fonts/lato-regular-webfont.woff2') format('woff2'),
         url('../fonts/lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: lato, sans-serif;
    margin: 0;
}

/* Header */

header {
    color: white;
    font-family: lato, Arial, Helvetica, sans-serif;
    text-shadow: 0 0 50px black;
}

nav {
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
    text-transform: uppercase;
    align-items: center;
    height: 111px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 180px;
    padding: 0;
}

ul li {
    display: flex;
}

a {
    color: white;
    text-decoration: none;
}

ul li:last-child a {
    display: block;
    width: 14px;
    font-size: 3px;
}

a hr {
    border: 1px solid white;
    border-radius: 1px;
}

h1 {
    font-size: 6.25em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px;
    letter-spacing: 0.06em;
}

p a {
    text-decoration: underline;
}

#logo img {
    position: relative;
    left: -30px;
}

#start {
    font-weight: bold;
    font-size: 1.125em;
    color: white;
    background: none;
    border: 3px solid white;
    border-radius: 3px;
    width: 280px;
    height: 70px;
}

#start:hover {
    background-color: #ffffff22;
}

#header_bg {
    background-image: url(../img/header_bg.png);
    height: 880px;
}

#header-content {
    text-align: center;
}

#header-content p:last-child {
    margin: 30px 0 242px;
}

#favorite {
    margin-top: 230px;
    margin-bottom: 0;
}

.roman-font {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5em;
    font-style: italic;
    font-weight: bold;
    filter: opacity(0.7);
}

.background-img {
    background-repeat: no-repeat;
    background-position: 50% 25%;
    width: 100%;
    z-index: -1;
    position: absolute;
}

.wrap-container {
    max-width: 1180px;
    margin: 0 auto;
}

/* Header END */

/* Main */

h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0;
    letter-spacing: 2px;
}

.underline hr {
    border: 1px solid #f57365;
    border-radius: 1px;
    width: 88px;
}

.columns-container {
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
}

.column {
    text-align: center;
    max-width: 360px;
}

.column p {
    font-weight: 100;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
}

.column p span {
    text-align: center;
}

.column:nth-child(2) {
    margin: 0 10px;
}

.background {
    background-color: #f7f7f7;
    height: 876px;
    max-width: 1600px;
    margin: 0 auto;
}

#iphone {
    background-image: url('../img/iphone_all_cr.png');
    height: inherit;
    background-repeat: no-repeat;
    background-position: -6px 99px;
}

#text-container {
    position: relative;
    text-align: left;
    margin-left: 640px;
    padding-top: 170px;
    font-size: 16px;
    line-height: 1.5;
}

#text-container .underline {
    width: fit-content;
}

#avatar-container {
    height: 460px;
}

#avatar_bg {
    background-image: url('../img/Background3.png');
    height: 460px;
}

.dot {
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: #ffffff22;
    border-radius: 50%;
    margin: 3px;
}

.dot:first-child {
    background-color: #ffffff;
}

#avatar-container {
    text-align: center;
    margin-top: 77px;
}

#avatar-container p {
    font-size: 30px;
    font-weight: 300;
    color: #ffffff66;
}

#avatar-container p q  {
    font-size: 18px;
}

.text-underlined-container {
    text-align: center;
    margin-bottom: 38px;
}

#italian {
    background-image: url('../img/food/italian.png');
}
#indian {
    background-image: url('../img/food/indian.png');
}
#french {
    background-image: url('../img/food/french.png');
}
#steakhouse {
    background-image: url('../img/food/steakhouse.png');
}
#seafood {
    background-image: url('../img/food/seafood.png');
}
#sushi {
    background-image: url('../img/food/sushi.png');
}
#mexican {
    background-image: url('../img/food/mexican.png');
}
#chinese {
    background-image: url('../img/food/chineese.png');
}
#pizza {
    background-image: url('../img/food/pizza.png');
}
#american {
    background-image: url('../img/food/american.png');
}

#food-container {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    align-content: flex-start;
    flex-flow: row wrap;
    justify-content: space-around;
}
.food {
    background-repeat: no-repeat;
    height: 225px;
    width: 320px;
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
}

.food-recipes {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-style: italic;
    margin-top: 75px;
    
}

.food-cousine {
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px;
}

.column-element {
    text-align: center;
}

.score {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 14px;
    margin-top: 55px;
}

.score-description {
    font-size: 16px;
    font-weight: 300;
}

.score-container {
    padding: 0;
    margin-bottom: 55px;
}

/* Main END */

footer {
    height: 94px;
    max-width: 1600px;
    margin: 0 auto;
    background-color: #f7f7f7;
    color: #c5c5c5;
    border-top: 1px solid #e2e2e2;
}

footer > div {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer span {
    color: black;
}
